RSNA_data/
New folder/
nnunet_tmp_BG1D4EUW/
RSNA_data_nii/
segmentations/
segemntations1/
test.nii.gz
segmentations.rar
segmentations1/
wandb/
testmodel.tph
log/
train_predictions.csv
frozen_packages/
train_volumes/